
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Anuphan&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anuphan", sans-serif;
}

body{
  background-color: #094B83;
}